<div class="partial-pages favorite">
    <div class="container fullScreen">
        <div class="col-lg-10 col-lg-offset-1 jobResults">
            <h2>Your favorite Jobs!</h2>
            <div class="table-responsive">
                <table class="table" compile="form"></table>
            </div>
            <h2>Jobs recommended for you!</h2>
            <div class="table-responsive">
                <table class="table" compile="recForm"></table>
            </div>
        </div>
    </div>
</div>
