<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">InternX</h1>
                    <p class="intro-text">A website where dream jobs found
                    <br>
                    <br>
                    <a class="btn btn-transparent" href="#signin">Sign In</a><a class="btn btn-light" href="#signup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</header>
