<div class="partial-pages signUp">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Sign Up</h2>
            <form id="appSignUp" ng-controller="signUpCtl">

              <div class="form-group">
                <label for="userFirstName">First Name</label>
                <input name="firstName" class="form-control" id="userFirstName" placeholder="e.g. Vincent">

                <label for="userLastName">Last Name</label>
                <input name="lastName" class="form-control" id="userLastName" placeholder="e.g. Hu">
              </div>

              <div class="form-group">
                <label for="userEmail1">Email address</label>
                <input name="username" type="email" class="form-control" id="userEmail1" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="userPassword">Password</label>
                <input name="password1" type="password" class="form-control" id="userPassword" placeholder="Password">
              </div>

              <div class="form-group">
                <label for="userReenterPassword">Re-enter Password</label>
                <input name="password2" type="password" class="form-control" id="userReenterPassword" placeholder="Password">
              </div>

              <br>
              <button type="submit" class="btn-light btn-small">Sign Up</button>
            </form>

        </div>
    </div>
</div>
